$color-primary: #9d2478; 
$color-black: #222222; 
$color-white: #ffffff; 
$color-grey-1: #717171; 
$color-grey-2: #c5c5c5; 
$color-grey-3: #f2f2f2; 
$color-green-ligth: #eff5ef; 
$color-green: #5e8259; 
$color-pink: #f3e9f1; 
$color-bg: #f6f6f6; 

